@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body{
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#nav-bar{
    display: flex;
    border-radius: 0px 0px 15px 15px; 
    width: 100%;
    height: 140px;
    background-color: rgb(236, 224, 214);
}

.img1{
    margin-top: 17px;
    margin-left: 46px;
    width: 100px;
    height: 100px;
}

.main-name{
    margin-top: 49px;
    width: 76%;
    text-align: center;   
}

#content{
    height: 100%;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

.title{
    margin-top: 120px;
    text-align: center;
}

#form{
    height: 100%;
    margin-top: 50px;
}

label{
    display: inline-block;
    width: 26%;
    margin-top: 40px;
}

input{
    text-align: center;
    width: 400px;
    height: 40px;
    border: .1px outset black;
    border-radius: 50px;
    background-color: rgb(245, 245, 245);
    margin-top: 30px;
}

select{
    text-align: center;
    height: 43px;
    width: 407px;
    border: .1px outset black;
    border-radius: 50px;
    margin-top: 30px;
}

.btns{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#authorize_button{
    border: 1px outset black;
    width: 200px;
    height: 60px;
    border-radius: 50px;
}

#generate{
    border: 1px outset black;
    width: 200px;
    height: 60px;
    border-radius: 50px;
}

#signout_button{
    border: 1px outset black;
    width: 200px;
    height: 60px;
    border-radius: 50px;
}

#mate{
    display:none;
}

#fifu{
    display:none;
}
#estadistica{
    display:none;
}
#social{
    display:none;
}
#etica{
    display:none;
}
#seminario{
    display:none;
}
#compu1{
    display:none;
}

#lab{
    display:none;
}
#Repa{
    display:none;
}
#LyL{
    display:none;
}
#natu{
    display:none;
}
#music{
    display:none;
}
#conta{
    display:none;
}

#ing{
    display: none;
}

#quim{
    display: none;
}

#bio{
    display: none;
}